<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="homeBody">
    <div class="area-izquierda">
        <div class="contenido">
            <a href="/products">🛒 Ver productos</a>
        </div>
        
    </div>
    <div class="area-derecha">
        <div class="contenido">
            <a href="/products/new">➕ Nuevo producto</a>
        </div>
    </div>
    <a href="/cart"><button id="cart">🛒</button></a>
    <a href="/chat"><button id="chat">💬</button></a>
</body>