<a href="/home">🏠</a>
<form action="/products" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Titulo del producto">
    <textarea name="description" placeholder="Descripción del producto"></textarea>
    <input type="number" name="price" placeholder="Precio del producto">
    <input type="number" name="stock" placeholder="Stock del producto">
    <input type="file" name="images" multiple/> 
    <input type="submit" value="Crear producto" />
</form>
<a href="/cart"><button id="cart">🛒</button></a>
<a href="/chat"><button id="chat">💬</button></a>
